:root {
  --main-bg-color: #1f1f1f;
  --gray-1: #707070;

  // fonts

  --body-font: "Montserrat", sans-serif;

  //hero section vars

  --hero__hero-display__item_blur: 16px;
  --hero__hero-display__item_1: green;
  --hero__hero-display__item_2: yellow;
  --hero__hero-display__item_3: orange;
  --hero__hero-display__item_4: red;
  --hero__hero-display__item_5: purple;
  --hero__hero-display__item_6: blue;
  --hero__hero-display__item_7: skyblue;
  --hero__hero-display__item_8: limegreen;
}

body {
  background-color: var(--main-bg-color);
  color: var(--gray-1);
  font-family: var(--body-font);
}

.container {
  max-width: 1440px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}
